.container
  .jumbotron.jumbotron-inverse
    %h1 Bienvenido a Tumoni
    %p Ordena tus finanzas con tus propios bolsillos
    %p
      = link_to 'Regístrate ahora', '/users/sign_up', class: 'btn btn-outline-inverse btn-lg', role: 'button'
      

