.container
  .jumbotron.jumbotron-inverse
    %h1 Bienvenido a Tumoni
    %p Ordena tus finanzas con tu propios bolsillos
    %p
      %a.btn.btn-outline-inverse.btn-lg(role="button") Regístrate ahora
      

